@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4CAF50;
  padding: 20%;
  min-height: 100vh;
}

.foldBlock {

  box-shadow: -30px -20px #237D5D;
  background: #61AD92;

  border-radius: 25px;
  height: auto;
  padding: 20px;

}

h1 {
  text-align: center;
  background-color: #2E7D32; 
  padding: 10px;
  border-radius: 8px; 
}

.latest-reading {
  background-color: white;
  color: #2E7D32;
  padding: 7px;
  border-radius: 5px;
}

.latest-reading h2 {
  text-align: center;
}

.chart {
  margin: 1em 0.5em 2em 0em
}
