@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  justify-content: center;
}

/* In every part of the website expect the navbar, we want padding on the left and right */
.mainContent {
  padding: 0% 5%;
}

/* foldBlock defines the "double layer effect" */
.foldBlock {
  
  box-shadow: -30px -20px #237D5D;
  background: #61AD92;

  border-radius: 25px;
  height: auto;
  padding: 20px;
}

/* The box shadow is absolutly placed behind the foldBlock, so we define extra padding to ensure that other divs do note overlap with the shadow */
.foldBlockWrapper {
  padding: 20px 30px;

}

/* (Going off figma) We define here our own custom heading text. This will be used in two places, main content and nav so we extend these classes accordingly*/
.customHeadingTextMainContent,
.customHeadingTextNav {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
}

.customHeadingTextMainContent {
  color: #237D5D;
  padding: 1em 0px;
  text-align: center;
}

.customHeadingTextNav {
  color: white;
}

.separator {
  border: 1px solid #237D5D;
  margin: 1em 0px;
}

h1 {
  text-align: center;
  background-color: #2E7D32; 
  padding: 10px;
  border-radius: 8px; 
}

.latest-reading {
  background-color: white;
  color: #2E7D32;
  padding: 7px;
  border-radius: 5px;
}

.latest-reading h2 {
  text-align: center;
}

.chart {
  margin: 1em 0.5em 2em 0em
}
