.introductionText {
    font-size: 6vw;
    text-align: left;

}

.statsWrapper {
    text-align: right;
    flex: auto;
    display: flex;
}

.spacer {
    width: 20%;
}

/* A little sneaky trick, to have the overflow off the screen look, we add a box shadow
and oveflow it off the screen.*/
.statsText {
    font-size: 5vw;
    width: 80%;
    background-color: #237D5D;
    color: white;
    border-radius: 25px;
    padding-left: 10px;
    text-align: left;
    box-shadow: 100px 0px #237D5D;
}

@media screen and (min-width: 500px) {
    .introductionText {
        font-size: 30px;
    }

    .statsText {
        font-size: 25px;
    }
    
}

@media screen and (min-width: 700px) {
    .spacer {
        width: 40%;
    }
}
