.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    position: relative;
    color: white;
    z-index: 0;
    max-height: 100%;
    width: 100%;
    display: block;
}
  
.splashText {
    position: absolute;
    top: 40%;
    left: 64%;
    width: 70%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

  
.splashTextSub {
    position: absolute;
    top: 55%;
    left: 51%;
    width: 30%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
}
