.container {
    display: flex;
    justify-content: center;
    
}

.wrapper {
    position: relative;
    color: white;
    z-index: 0;
    max-width: 70%;
    display: block;
}
  
.splashText {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}
