.container {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iconSeparator {
    border-left: 2px solid white;
    margin: 0em 1em;
}

.text {
    font-weight: 400;
    font-size: medium;
    color: white;

}