.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inputsWrapper {
    width: 100%;
}

.nameEmailContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameWrapper {
    width: 40%;
    display: block;
}

.emailWrapper {
    width: 50%;
    display: block;
}

.label {
    display: block;
}

.name, .email, .message {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.message {
    height: 100%;
}

.submitButton {
    background-color: #237D5D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}
