.nav {
    background: #237D5D;
    top: 0px;

    display: flex;
    grid-template-columns: repeat(3, 1fr);

    justify-content: space-between;
    align-items: center;
    padding: 1em;

    z-index: 3;
}

.image {
    max-width: 100px;
    height: auto;
}

.spacerDiv {
    width: 100px;
}

.navText {
    color: white;
}